@import "tailwindcss";

@layer base {
  html {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
  /* Global button behavior */
  button {
    cursor: pointer;
  }
}
